.add
{
    margin-top: 5px;
    height: 40px;
}
.label-top
{
    margin-top: 10px;
}
.title
{
    color: #34495e;
}
.hello
{
	margin-top: 100px;
}
.top
{
	margin-top: 20px;
}

.remove_border {
	border: 0px;
}